{% extends 'base.html' %}

{% block content %}
<H1>Home</H1>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium obcaecati blanditiis pariatur dignissimos distinctio facilis dolor a vel illo provident error velit dicta accusantium totam, corrupti maxime consequatur sunt ea exercitationem! Vel a tenetur nulla fuga nesciunt animi, praesentium fugiat ea saepe repellat maiores, illum suscipit cupiditate impedit esse laboriosam quam vitae id. Magnam ratione reiciendis unde ab qui possimus dolorum adipisci consectetur mollitia maxime nemo quasi architecto sint quam cupiditate perspiciatis quibusdam atque incidunt non ex quia deserunt, optio veritatis officia! Provident quisquam illum reprehenderit veniam quia excepturi numquam quam alias voluptate quidem. Vitae totam odio mollitia nesciunt iusto?

{% endblock %}