{% extends 'base.html' %}

{% block content %}

<h1> Tareas o tasks pendientes</h1>

<ul>
     {% for task in tasks %}
      <a href="{% url 'task_detail' task.id %}">
        {% if task.important %}
        <strong>{{task.title}}</strong>
        {% else %}
        {{task.title}}
        {% endif %}
    
        <p>{{task.description}}</p>
        <p>{{task.user.username}}</p>
        <p>{{task.datecompleted|date:"M j Y H:i"}}</p>
      </a>
   
     {% endfor %}
</ul>

{% if not tasks %}
    <p>No hay tareas disponibles.</p>
{% endif %}

{% endblock %}